NEXT_PUBLIC_HEADLESS_WP_URL="https://wordpress.com"
NEXT_PUBLIC_HOST_URL="https://mysite.com"

# If using the revalidate plugin
# You can generate by running `openssl rand -base64 32` in the terminal
WORDPRESS_WEBHOOK_SECRET="your-secret-key-here"
REDIS_URL="your-redis-connection-url-here"